# --- POSTGRES CONFIG ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=seu-negocio-db

# --- PGADMIN CONFIG ---
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# --- MINIO CONFIG ---
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_DEFAULT_BUCKETS=seunegocio-imagens
MINIO_PUBLIC_URL=http://localhost:1000

# Configurações do Administrador Padrão do Sistema
ADMIN_DEFAULT_NAME=Administrador Geral
ADMIN_DEFAULT_EMAIL=admin@seunegocio.com
ADMIN_DEFAULT_PASSWORD=admin123456